
* {
  font-size: 60px;
  color: white;
  font-family: courier;
  font-weight: lighter;
  text-align: right;
}

.tel {
   transform: rotateY(20deg);
}

.impressum {
  text-align: bottom;
  font-size: 20px;

}

.tumblr {
  font-size: 70px;
  color: #F78181;
}

.facebook {
  font-size: 70px;
  color: #F78181;

}

.vimeo {
  font-size: 70px;
  color: #F78181;
  margin-right: 500px;
  margin-top: 200px;
}


audio {
  display: none;
}
