
* {
  font-size: 60px;
  color: white;
  font-family: courier;
  font-weight: lighter;
  text-align: right;
}

.tel {
   transform: rotateY(20deg);
}

.impressum {
  text-align: bottom;
}
audio {
  display: none;
}
